body,
html {
    margin: 0;
}

body {
    background-color: #e0c5a7;
    font-family: "Noto Sans Lao Looped", sans-serif;
    color: #fef6eb;
    margin-bottom: 2vh;
}

h1,
h2 {
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "BhuTuka Expanded One", cursive; */
    font-family: "Fugaz One", cursive;
    /* font-family: "Yatra One", cursive; */
}

h1 {
    font-size: 80px;
    letter-spacing: 6px;
}

h2 {
    font-size: 60px;
    letter-spacing: 4px;
    text-decoration: underline;
}

p {
    color: #3c4836;
    font-size: 22px;
    line-height: 3rem;
}

a {
    color: #fef6eb;
}

section {
    padding-bottom: 55px;
}

footer {
    text-align: center;
}

#extra-colors {
    color: #4b5026;
    color: #e59808;
    color: #be4113;
    color: #320126;
    color: #fef6eb;
    color: #e0c5a7;
    color: #c37311;
    color: #a65324;
    color: #3c4836;
    color: #212720;
}

#splash {
    background-image: url("/assets/images/mark-adriane-unsplash.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 95vh;
}

#name {
    position: absolute;
    margin-top: 30px;
    margin-left: 80px;
    display: inline-block;
}

nav {
    margin-top: 65px;
    margin-right: 80px;
    float: right;
    min-width: 33vw;
    max-width: 45vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    text-decoration: none;
    font-size: 32px;
    display: inline-block;
    position: relative;
}

.navlink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fef6eb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav-separator {
    font-size: 10px;
    color: #fef6eb;
}

section {
    width: 90vw;
    margin-top: 5vh;
    margin-left: 5vw;
}

#projects-header {
    float: right;
}

#projects-table {
    width: 100%;
    text-align: center;
    border-spacing: 10px;
}

#projects-table tr {
    height: 20vh;
}

#projects-table tr td {
    background-color: #3c4836;
}

#about-content {
    width: 80%;
    margin-left: 10%;
}

#al-photo {
    width: 30rem;
    max-width: 100%;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}
