:root {
    --background-color: #e0c5a7;
    --header-font: "Fugaz One", cursive;
    --text-font: "Noto Sans Lao Looped", sans-serif;
    --white: #fef6eb;
}

/* header: biggest small screen: 1000px */

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    font-family: var(--text-font);
    color: var(--white);
    margin: 0;
}

h1,
h2 {
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "BhuTuka Expanded One", cursive; */
    /* font-family: "Yatra One", cursive; */
    font-family: var(--header-font);
}

h1 {
    font-size: 80px;
    letter-spacing: 6px;
}

#extra-colors {
    color: #4b5026;
    color: #e59808;
    color: #be4113;
    color: #320126;
    color: #fef6eb;
    color: #e0c5a7;
    color: #c37311;
    color: #a65324;
    color: #3c4836;
    color: #212720;
}

header {
    position: absolute;
    width: 100%;
}

#name {
    /* desktop only */
    /* margin-top: 30px;
    margin-left: 80px; */

    /* small screen */
    margin: 10px;
}

nav {
    /* large screen stuff */
    /* margin-top: 65px;
    margin-right: 80px;
    float: right;
    min-width: 33vw;
    max-width: 45vw; */

    max-width: 528px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    display: inline-block;
    position: relative;

    /* large display */
    /* font-size: 32px; */
    /* text-decoration: none; */

    /* small display */
    font-size: 24px;
    text-decoration: underline;
    font-weight: 700;
}

.navlink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav-separator {
    font-size: 10px;
    color: var(--white);
}

h2 {
    font-size: 60px;
    margin: 0.83em;
    letter-spacing: 4px;
    text-decoration: underline;
    text-align: left;
}

#al-photo {
    max-width: 100%;
    width: 22em;
    float: right;
    margin: 20px;
}

/* xl screens */
@media (min-width: 1741px) {
    nav {
        max-width: none;
    }

    #al-photo {
        width: 30em;
    }

    p {
        font-size: 20px;
        line-height: 2.5em;
    }
}

/* medium-large screens */
@media (min-width: 1001px) and (max-width: 1740px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #name,
    nav {
        margin: 30px;
    }

    p {
        font-size: 18px;
        line-height: 2em;
    }
}

/* x-small screens only */
@media (max-width: 699px) {
    #al-photo {
        width: 22em;
        display: block;
        margin: auto;
        float: none;
    }
}

/* all small screens */
@media (max-width: 1000px) {
    header {
        text-align: center;
        margin-top: 10px;
        line-height: 1.2;
    }

    nav {
        margin: auto;
        padding: 10px;
    }

    h2 {
        font-size: 50px;
        margin: 0.4em;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: center;
    }
}

#splash {
    background-image: url("/assets/images/mark-adriane-unsplash.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 95vh;
}

#projects-header {
    float: right;
}

#projects-table {
    width: 100%;
    text-align: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.project {
    background-color: #3c4836;
    height: 20vh;
}

#about-content {
    width: 80%;
    margin-left: 10%;
}

p {
    color: #3c4836;
}

a {
    color: var(--white);
}

footer {
    text-align: center;
}
