body,
html {
    height: 100vh;
    margin: 0;
}

body {
    background-color: #e0c5a7;
}

#extra-colors {
    color: #4b5026;
    color: #e59808;
    color: #be4113;
    color: #320126;
    color: #fef6eb;
    color: #e0c5a7;
    color: #c37311;
    color: #a65324;
    color: #3c4836;
    color: #212720;
}

#splash {
    background-image: url("/assets/images/mark-adriane-unsplash.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 95vh;
}

#name {
    position: absolute;
    margin-top: 30px;
    margin-left: 80px;
    display: inline-block;
    font-size: 80px;
    /* font-family: "PT Sans", sans-serif; */
    /* font-family: "BhuTuka Expanded One", cursive; */
    font-family: "Fugaz One", cursive;
    /* font-family: "Yatra One", cursive; */
    color: #fef6eb;
    letter-spacing: 4px;
}

nav {
    margin-top: 65px;
    margin-right: 80px;
    float: right;
    min-width: 33vw;
    max-width: 45vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlink {
    font-family: "Noto Sans Lao Looped", sans-serif;
    color: #fef6eb;
    font-size: 32px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.navlink::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fef6eb;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navlink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav-separator {
    font-size: 10px;
    color: #fef6eb;
}
